{% extends 'layout/app.html' %}
{% load static %}
{% block body %}
<div id="content-wrapper">
    <div class="container">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        <div class="ml-1 mr-1 ">
            <div class="">
                <div class="text-center"><p><strong>Input Processing Benih</strong></p></div>
                <form class="form-horizontal" enctype="multipart/form-data"  role="form" method="POST">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" class="btn btn-success btn-block mt-4"></i>Submit</button>
                    <a type="button" class="btn btn-secondary btn-block mt-2"
                        href="javascript:history.back()">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(function () {
      $("#in_date").datepicker();
      $("#out_date").datepicker();
    });
  </script>
{% endblock %}