{% extends 'layout/app.html' %}
{% load static %}
{% block body %}
<style>
    .img-responsive {
        width: 80%;
        height: auto;
    }
</style>
<div id="content-wrapper">
    <div class="container">
        <p class="small media-body mb-0 lh-125 border-gray">
            <strong>Location ID: {{serelia.locationid}}</strong>
            </br> Tanggal Laporan: {{serelia.created_date}}
            </br> Tipe Benih: {{serelia.seed_type}}
            </br> Alamat: {{serelia.address}}
            </br> Tanggal Tanam: {{serelia.plant_date}}
            </br> Varietas: {{serelia.variety}}
            </br> Luas lahan: {{serelia.area}} ha
            </br> Kendala: {{serelia.obstacle}}
            </br> Contact Person: {{serelia.cp_name}}
        </p>
        <div class="text-center">
            <img src="/simuliaapp/media/{{serelia.evidence}}" alt="not found" class="img-responsive">
        </div>
        <div>
            <a type="button" class="btn btn-secondary btn-block mt-1" href="{%url 'serelia_list' %}">Kembali</a>
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
{% endblock %}