{% extends 'layout/app.html' %}
{% load static %}
{% block body %}
<style>
    .link {
        color: black;
        text-decoration: none;
        background-color: none;
    }
</style>
<div id="content-wrapper">
    <div class="container">
        
        <div class="dropdown mb-2">
            <button class="btn btn-success btn-sm dropdown-toggle mr-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter Tipe Benih
            </button>
            {{seed_type}}
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/serelia_list">Semua</a>
              <a class="dropdown-item" href="/serelia_list/Benih%20Tetua">Benih Tetua</a>
              <a class="dropdown-item" href="/serelia_list/Benih%20Inti">Benih Inti</a>
              <a class="dropdown-item" href="/serelia_list/Benih%20Hibrida">Benih Hibrida</a>
              <a class="dropdown-item" href="/serelia_list/Benih%20UPBS">Benih UPBS</a>
            </div>
          </div>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        <table class="table datatable display table-sm" id="serelia-list">
            <thead >
                <tr>
                    <th>Location</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {%for serelia in serelias%}
                <tr>
                    <td>
                        <div class="link">
                            <p class="media-body mb-0 lh-125 border-gray">
                                <small>
                                    <strong class="d-block text-gray-dark">{{serelia.locationid}} -
                                        {{serelia.address}}</strong>
                                    Tgl Lapor: {{serelia.created_date}}
                                    </br> Tipe: {{serelia.seed_type}}
                                </small>
                            </p>
                        </div>
                    </td>
                    <td>
                        <a type="button" class="btn btn-success mb-1 btn-block btn-sm"
                            href="/serelia_detail/{{ serelia.id }}">Lihat</a>
                        <button type="button" class="btn btn-secondary mb-1 btn-block btn-sm" data-toggle="modal"
                            data-target="#exampleModal" data-sereliaid="{{ serelia.id }}"
                            data-serelialocationid="{{ serelia.locationid }} - {{ serelia.address }}">
                            Hapus
                        </button>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <a type="button" class="btn btn-success btn-block mt-1" href="{%url 'serelia_create' %}">Tambah Data</a>
        <a type="button" class="btn btn-secondary btn-block mt-1" href="{%url 'home' %}">Kembali</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yakin hapus data?</h5>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="contentmodal"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                <a type="button" class="btn btn-success" id="deletelinkmodal" href="">Ya</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function () {
        $('#serelia-list').DataTable({ 
            "pageLength": 5, 
            "paging":true,
            "searching": false,
            "pagingType": "simple",
            "bInfo" : false
        });
    });
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var sereliaid = button.data('sereliaid') // Extract info from data-* attributes
        var serelialocationid = button.data('serelialocationid') // Extract info from data-* attributes

        var contentmodal = $(this)
        contentmodal.find('.modal-body #contentmodal').text(serelialocationid)

        var deletelinkmodal = document.getElementById('deletelinkmodal')
        deletelinkmodal.href = "/serelia_delete/" + sereliaid

    })
</script>
{% endblock %}