{% extends 'layout/app.html' %}
{% load static %}
{% block body %}
<style>
    .img-responsive {
        width: 80%;
        height: auto;
    }
</style>
<div id="content-wrapper">
    <div class="container">
        <p class="small media-body mb-0 lh-125 border-gray">
            <strong>Stock ID: {{warehousestock.stockid}}</strong>
            </br> Tanggal Laporan: {{warehousestock.created_date}}
            </br> Varietas: {{warehousestock.variety}}
            </br> Stok Awal: {{warehousestock.start_weight}} kg
            </br> Stok Keluar: {{warehousestock.out_weight}} kg
            </br> Stok Akhir: {{warehousestock.end_weight}} kg
        </p>

        <div>
            <a type="button" class="btn btn-secondary btn-block mt-1" href="{%url 'warehousestock_list' %}">Kembali</a>
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
{% endblock %}